@page
@model ImmersionHelper.Pages.Admin.TestPageModel
@{
}

<div>
    @foreach(var item in Model.Input.Links)
    {
        <a href="@item.Links">@item.Links</a>
        <br />
        <div>
            @Html.Raw(item.content)
        </div>
        <br />
        <br />
    }
</div>
<br />
